# IDE
.idea/
*.iml
*.ipr
*.iws

# Allure - ВСЕ папки allure
allure*/
.allure/
*allure*

# Maven target (но можно оставить allure-results если нужно)
target/
# !target/allure-results/  # раскомментируйте если хотите сохранить результаты

# Системные файлы
.DS_Store
*.log
